.container {
  max-width: 1232px;
  margin: 0 auto;
  padding: 0 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.button-nav {
  color: var(--Text-Tittle, #1c3554);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  border-radius: 8px;
  border: 1px solid var(--Text-Tittle, #1c3554);
  padding: 8px 32px;
  transition: background-color 0.3s ease-in-out;
}

.button-nav:hover {
  background: #f72585;
  color: var(--Other-white, #ccc);
  border: 1px solid #f72585;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
.header-qism {
  font-family: Rubik;
  font-family: Montserrat;
  width: 100%;
  background: #fff;
  position: fixed;
  z-index: 100;
}
.header-qism nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 36px 0;
}
.header-qism nav .pages-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.header-qism nav .pages-nav form {
  position: relative;
}
.header-qism nav .pages-nav form input {
  color: var(--Text-Body, #808080);
  /* Paragraph/Reguler/caption - 14px */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
  padding-left: 16px;
  width: 443px;
  height: 48px;
  flex-shrink: 0;
  outline: none;
  border-radius: 8px;
  border: 1px solid var(--Text-In-Field, #ccc);
}
.header-qism nav .pages-nav form #search {
  position: absolute;
  top: 10px;
  right: 12px;
}
.header-qism nav .pages-nav a {
  text-decoration: none;
  color: var(--Text-Tittle, #1c3554);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  transition: background-color 0.3s ease-in-out;
}
.header-qism nav .pages-nav a:hover {
  color: #1c1579;
}
.header-qism nav .menu-btn {
  display: none;
}
.header-qism nav {
  padding: 30px 0;
}
.header-qism .navbar-shrink {
  padding: 20px 0;
}

@media (max-width: 1078px) {
  .header-qism nav .pages-nav form {
    padding: 0;
  }
  .header-qism nav .pages-nav form input {
    width: 350px;
  }
}
@media (max-width: 976px) {
  .header-qism nav .pages-nav form {
    width: 250;
  }
  .header-qism nav .pages-nav form input {
    width: 250px;
  }
}
@media (max-width: 912px) {
  body .header-qism nav .pages-nav {
    display: none;
  }
  body .header-qism nav .menu-btn {
    display: block;
  }
}
.menu-opened .header-qism nav {
  align-items: start;
}
.menu-opened .header-qism nav .pages-nav {
  width: 100% !important;
  height: 100% !important;
  background: #ccc;
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100 !important;
  left: 0;
  right: 0;
  top: 110px;
  margin: 0 auto;
}

header {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
  transition: padding 0.5s ease-in-out;
}

.shrink-header {
  padding: 5px; /* Shrink qilingan paytdagi yangi padding */
}

@media (max-width: 910px) {
  body .header-qism nav .pages-nav {
    display: none;
  }
  body .header-qism nav .menu-btn {
    display: block;
  }
  .menu-opened .header-qism nav {
    align-items: start;
  }
  .menu-opened .header-qism nav .pages-nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    right: 0;
    position: fixed;
    z-index: 100 !important;
    width: 250px;
  }
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
.footer-page {
  font-family: Rubik;
  font-family: Montserrat;
  margin-top: 160px;
}
.footer-page .footer-item {
  width: 100%;
  height: 435px;
  border-radius: 8px;
  background: var(--Other-Navy, #021934);
}
.footer-page .footer-item .content-footer {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 130px;
}
.footer-page .footer-item .content-footer .content-1 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 36px;
}
.footer-page .footer-item .content-footer .content-1 p {
  max-width: 500px;
  color: var(--Text-white, #fff);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.footer-page .footer-item .content-footer .content-1 img {
  width: 161px;
  height: 32px;
  flex-shrink: 0;
}
.footer-page .footer-item .content-footer .content-1 .mini-f1 {
  margin-top: 103px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.footer-page .footer-item .content-footer .content-1 .mini-f1 p {
  color: var(--Text-white, #fff);
  text-align: center;
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.footer-page .footer-item .content-footer .content-2 {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}
.footer-page .footer-item .content-footer .content-2 h5 {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Reguler/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  margin-bottom: 14px;
}
.footer-page .footer-item .content-footer .content-2 a {
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  text-decoration: none;
}

@media (max-width: 855px) {
  .footer-page .footer-item {
    height: auto;
  }
  .footer-page .footer-item .content-footer {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .section-2 {
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
.home-page {
  font-family: Rubik;
  font-family: Montserrat;
  padding-top: 110px;
}
.home-page .bg-clan {
  background: var(--Other-Navy, #021934);
}
.home-page .bg-clan .container .section1 {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 145px;
}
.home-page .bg-clan .container .section1 .line1 {
  max-width: 810px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
}
.home-page .bg-clan .container .section1 .line1 h2 {
  max-width: 500px;
  color: var(--Text-white, #fff);
  /* Heading/Bold/H2 - 64px */
  font-family: Rubik;
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 137.5% */
}
.home-page .bg-clan .container .section1 .line1 p {
  max-width: 500px;
  color: var(--Text-white, #fff);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.home-page .bg-clan .container .section1 .line1 .inputt input {
  padding-left: 23px;
  width: 500px;
  height: 80px;
  flex-shrink: 0;
  outline: none;
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  border-radius: 8px;
  background: var(--Text-white, #fff);
}
.home-page .bg-clan .container .section1 .line1 .line1-mini {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  max-width: 567px;
}
.home-page .bg-clan .container .section1 .line1 .line1-mini div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.home-page .bg-clan .container .section1 .line1 .line1-mini div h6 {
  color: var(--Text-white, #fff);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 150% */
}
.home-page .bg-clan .container .line2 {
  margin-top: 65px;
}
.home-page .btn-class {
  margin-top: 88px;
}
.home-page .btn-class .section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-page .btn-class .section2-gr1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.home-page .btn-class .section2-gr1 .btn-n {
  margin-top: 56px;
  transition: background-color 0.3s ease-in-out;
  border: none;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
  width: 288px;
  padding: 14px 44px;
  color: var(--Text-white, #fff);
  text-align: center;
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  line-height: 32px; /* 200% */
}
.home-page .btn-class .section2-gr1 .btn-n:hover {
  background: var(--Primary-Pink, #ad1a5c);
}
.home-page .btn-class .section2-gr1 h3 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
.home-page .btn-class .section2-gr1 .buttons {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.home-page .btn-class .section2-gr1 .buttons button {
  transition: background-color 0.3s ease-in-out;
  width: 167px;
  padding: 8px 32px;
  border-radius: 8px;
  background: var(--Text-white, #fff);
  color: var(--Other-grey, #aaa);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  border: none;
}
.home-page .btn-class .section2-gr1 .buttons button:hover {
  width: 167px;
  padding: 8px 32px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.home-page .btn-class .section2-gr1 .cards {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
.home-page .btn-class .section2-gr1 .cards .mini-card {
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 295px;
  height: 427px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Other-white, #fff);
  padding: 16px 16px 0 16px;
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 262px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Text-In-Field, #ccc);
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-img button {
  position: relative;
  top: 16px;
  border: none;
  padding: 4px 24px;
  border-radius: 8px;
  background: var(--Other-Blue, #4586d6);
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Label - 12px */
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts h6 {
  height: 48px;
  max-width: 262.891px;
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Medium/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts p {
  max-width: 262.891px;
  color: var(--Primary-Pink, #f72585);
  /* Paragraph/Semibold/Label - 12px */
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  font-style: normal;
  line-height: 24px; /* 200% */
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts .gr-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts .gr-star p {
  color: var(--Text-Body, #808080);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts .gr-sent {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts .gr-sent p {
  color: var(--Text-In-Field, #ccc);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.home-page .btn-class .section2-gr1 .cards .mini-card .mini-texts .gr-sent h5 {
  color: var(--Text-Tittle, #1c3554);
  /* Heading/Medium/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.home-page .btn-class .section2-gr1 .cards .mini-card:hover {
  box-shadow: 10px 40px 40px rgba(184, 167, 167, 0.5); /* X, Y, radius, va rang */
}
.home-page .ctg-class {
  margin-top: 160px;
}
.home-page .ctg-class .ctg-start {
  gap: 14px;
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 0;
}
.home-page .ctg-class .ctg-start .imgp {
  position: absolute;
  right: 0;
  top: 3490px;
}
.home-page .ctg-class .ctg-start h3 {
  margin-bottom: 56px;
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
.home-page .ctg-class .ctg-start .ctg-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 14px;
}
.home-page .ctg-class .ctg-start .ctg-row div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 296px;
  height: 350px;
  flex-shrink: 0;
  border-radius: 8px;
  opacity: 0.5;
  background: var(--other-overlay-50, #000);
}
.home-page .ctg-class .ctg-start .ctg-row div h5 {
  max-width: 155px;
  text-align: center;
  padding-bottom: 40px;
  color: var(--Text-white, #fff);
  /* Heading/Medium/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
}
.home-page .ctg-class .ctg-start .ctg-course {
  margin-top: 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 248px;
  gap: 176px;
  flex-shrink: 0;
}
.home-page .ctg-class .ctg-start .ctg-course .course-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.home-page .ctg-class .ctg-start .ctg-course .course-box .subs-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home-page .ctg-class .ctg-start .ctg-course .course-box .subs-col h4 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.home-page .ctg-class .ctg-start .ctg-course .course-box .subs-col h5 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Reguler/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.home-page .ctg-class .cont-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-page .ctg-class .cont-text {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.home-page .ctg-class .cont-text .blok-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 34px;
}
.home-page .ctg-class .cont-text .blok-cont h3 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
.home-page .ctg-class .cont-text .blok-cont p {
  max-width: 565px;
  color: var(--Text-Body, #808080);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.home-page .ctg-class .cont-text .blok-cont button {
  transition: background-color 0.3s ease-in-out;
  border: none;
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 16px 80px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
}
.home-page .ctg-class .cont-text .blok-cont button:hover {
  background: var(--Primary-Pink, #850740);
}
.home-page .ctg-class .cont-carusel {
  margin-top: 224px;
  display: flex;
  flex-direction: row;
  gap: 48px;
  align-items: center;
  justify-content: center;
}
.home-page .ctg-class .cont-carusel .place-cont {
  width: 338px;
  height: 377px;
  flex-shrink: 0;
  background: var(--Text-In-Field, #ccc);
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: baseline;
}
.home-page .ctg-class .cont-carusel .place-cont img {
  position: relative;
  top: 60px;
  right: 40px;
}
.home-page .ctg-class .cont-carusel .mini-cont {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}
.home-page .ctg-class .cont-carusel .mini-cont h4 {
  max-width: 672px;
  color: var(--Text-Tittle, #1c3554);
  /* Heading/Reguler/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
}
.home-page .ctg-class .cont-carusel .mini-cont h5 {
  margin-top: 24px;
  color: var(--Text-Tittle, #1c3554);
  /* Heading/Medium/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  line-height: 32px; /* 133.333% */
}
.home-page .ctg-class .cont-carusel .mini-cont p {
  color: var(--Text-Body, #808080);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.home-page .ctg-class .cont-logos {
  margin-top: 224px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.home-page .ctg-class .cont-logos h3 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  line-height: 63.984px; /* 133.3% */
}
.home-page .ctg-class .cont-logos .logo-cont {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 56px;
}
.home-page .ctg-class .cont-logos .logo-cont div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 249.6px;
  height: 104px;
  flex-shrink: 0;
  opacity: 0.7;
}
.home-page .ctg-class .cont-logos .logomini-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 66px;
}
.home-page .ctg-class .cont-cards {
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 56px;
}
.home-page .ctg-class .cont-cards .commets {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
.home-page .ctg-class .cont-cards .commets .cards-cont {
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 400px;
  height: 518px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Other-white, #fff);
  padding: 16px 16px 0 16px;
}
.home-page .ctg-class .cont-cards .commets .cards-cont .p-p {
  color: var(--Primary-Pink, #f72585);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  margin-bottom: 16px;
}
.home-page .ctg-class .cont-cards .commets .cards-cont p {
  height: 55px;
  color: var(--Text-Body, #808080);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.home-page .ctg-class .cont-cards .commets .cards-cont h5 {
  width: 368px;
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.home-page .ctg-class .cont-cards .commets .cards-cont .mini-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 368px;
  height: 240px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Text-In-Field, #ccc);
}
.home-page .ctg-class .cont-cards .commets .cards-cont .mini-img button {
  position: relative;
  top: 16px;
  border: none;
  padding: 4px 24px;
  border-radius: 8px;
  background: var(--Other-Blue, #4586d6);
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Label - 12px */
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.home-page .ctg-class .cont-cards .commets .cards-cont .gb-mini {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.home-page .ctg-class .cont-cards .commets .cards-cont .gb-mini p {
  color: var(--Text-Body, #808080);
  /* Paragraph/Reguler/caption - 14px */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.home-page .ctg-class .cont-cards .commets .cards-cont:hover {
  box-shadow: 10px 40px 40px rgba(184, 167, 167, 0.5); /* X, Y, radius, va rang */
}
.home-page .ctg-class .cont-cards .commets h3 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H3 - 48px */
  font-family: Rubik;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 63.984px; /* 133.3% */
}
@media (max-width: 1160px) {
  .home-page .imgp {
    display: none;
  }
  .home-page .blok-cont {
    background: #fff !important;
  }
  .home-page .section1 {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .home-page .section1 .line2 {
    margin: 0 auto;
  }
  .home-page .blok-cont {
    justify-content: center;
    align-items: center;
  }
  .home-page .cont-text {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .home-page .cont-text img {
    width: 310px;
  }
  .home-page .logo-cont {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .home-page .ctg-course {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .home-page .commets {
    flex-wrap: wrap;
    align-items: center;
  }
  .home-page .cont-carusel {
    flex-wrap: wrap;
  }
  .home-page .buttons {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .home-page .cards {
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .home-page .ctg-row {
    flex-wrap: wrap !important;
    justify-content: center;
  }
  .home-page .section2 {
    overflow: hidden;
  }
}
@media (max-width: 524px) {
  .home-page .section1 .line1 h2 {
    font-size: 24px;
    max-width: 310px;
  }
  .home-page .section1 .line1 p {
    max-width: 310px;
  }
  .home-page .section1 .line1 .line1-mini {
    flex-wrap: wrap;
    max-width: 310px;
  }
  .home-page .section1 .line1 .inputt {
    display: none;
  }
  .home-page .section1 .line2 img {
    max-width: 310px;
  }
}
.home-page #backToTopBtn {
  z-index: 100 !important;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.home-page #backToTopBtn:hover {
  opacity: 0.8;
}

@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
.blog-page {
  font-family: Rubik;
  font-family: Montserrat;
}
.blog-page .header-qism {
  top: 0;
  background: var(--other-overlay-50, #666);
}
.blog-page .section-hero {
  margin-top: 110px;
  width: 100%;
  height: 320px;
  background: #666;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 64px;
}
.blog-page .section-hero .container .mini-gr {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  margin: 0;
}
.blog-page .section-hero .container .mini-gr a:first-child {
  text-decoration: none;
  color: var(--Text-Disable, #e6e6e6);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.blog-page .section-hero .container .mini-gr p {
  color: #fff;
}
.blog-page .section-hero .container .mini-gr a:last-child {
  text-decoration: none;
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}
.blog-page .section-row {
  margin-top: 96px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 64px;
}
.blog-page .section-row .item-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 16px;
}
.blog-page .section-row .item-text h4 {
  width: 552px;
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.blog-page .section-row .item-text .mini-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
.blog-page .section-row .item-text .mini-item p {
  color: var(--Text-Body, #808080);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: "Montserrat SemiBold";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.blog-page .section-row .item-text .p-text {
  max-width: 552px;
  color: var(--Text-Body, #808080);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
  width: 552px;
}
.blog-page .section-row .item-text button {
  margin-top: 56px;
  color: var(--Text-white, #fff);
  border: none;
  /* Paragraph/Semibold/Body - 16px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  padding: 12px 32px;
  border-radius: 8px;
  background: var(--Primary-Pink, #f72585);
  transition: background-color 0.3s ease-in-out;
}
.blog-page .section-row .item-text button:hover {
  background: var(--Primary-Pink, #920c49);
}
.blog-page #backToTopBtn {
  z-index: 100 !important;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.blog-page #backToTopBtn:hover {
  opacity: 0.8;
}

@media (max-width: 1280px) {
  .section-hero {
    flex-wrap: wrap;
  }
  .section-row {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .item-text {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 650px) {
  .imgg {
    width: 400px;
  }
  .item-text {
    align-items: center;
  }
  .item-text h4 {
    text-align: center;
    width: 400px;
  }
  .item-text .p-text {
    width: 400px;
    text-align: center;
  }
}
@media (max-width: 558px) {
  .imgg {
    width: 300px;
  }
  .item-text {
    align-items: center;
  }
  .item-text h4 {
    text-align: center;
    width: 300px !important;
  }
  .item-text .p-text {
    width: 300px !important;
    text-align: center;
  }
}
@font-face {
  font-family: Montserrat;
  src: url(../../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: Rubik;
  src: url(../../fonts/Rubik-Regular.ttf);
}
.account-page {
  font-family: Rubik;
  font-family: Montserrat;
}
.account-page .header-qism {
  top: 0;
  background: var(--other-overlay-50, #666);
}
.account-page .section-hero {
  width: 100%;
  height: 320px;
  background: #666;
}
.account-page .sectionakk1 {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.account-page .sectionakk1 svg {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  fill: var(--Text-In-Field, #ccc);
}
.account-page .sectionakk1 .mini-row {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.account-page .sectionakk1 .mini-row h4 {
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Bold/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px; /* 150% */
  text-transform: capitalize;
}
.account-page .sectionakk1 .mini-row h6 {
  color: var(--Text-Body, #808080);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Medium/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.account-page .sectionakk2 {
  margin-top: 64px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 200px;
  height: 20px;
  transition: 0.8s ease-out;
}
.account-page .sectionakk2 h4 {
  color: var(--Text-Body, #808080);
  /* Heading/Reguler/H4 - 32px */
  font-family: Rubik;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 150% */
}
.account-page .sectionakk2 h4:hover {
  border-bottom: 5px solid var(--Primary-Pink, #f72585);
  color: var(--Text-Tittle, #1c3554);
}
.account-page .cards {
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.account-page .cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  align-items: center;
}
.account-page .cards .card .mini-card {
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 27px;
  width: 295px;
  height: 427px;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--Other-white, #fff);
  padding: 16px 16px 0 16px;
}
.account-page .cards .card .mini-card .mini-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  width: 262px;
  height: 208px;
  flex-shrink: 0;
  border-radius: 4px;
  background: var(--Text-In-Field, #ccc);
}
.account-page .cards .card .mini-card .mini-img button {
  position: relative;
  top: 16px;
  border: none;
  padding: 4px 24px;
  border-radius: 8px;
  background: var(--Other-Blue, #4586d6);
  color: var(--Text-white, #fff);
  /* Paragraph/Semibold/Label - 12px */
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 200% */
}
.account-page .cards .card .mini-card .mini-texts {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}
.account-page .cards .card .mini-card .mini-texts h6 {
  height: 48px;
  max-width: 262.891px;
  color: var(--Text-Tittle, #1c3554);
  font-variant-numeric: lining-nums proportional-nums;
  /* Heading/Medium/H6 - 16px */
  font-family: Rubik;
  font-size: 16px;
  font-style: normal;
  line-height: 24px; /* 150% */
  text-transform: capitalize;
}
.account-page .cards .card .mini-card .mini-texts p {
  max-width: 262.891px;
  color: var(--Primary-Pink, #f72585);
  /* Paragraph/Semibold/Label - 12px */
  font-family: "Montserrat SemiBold";
  font-size: 12px;
  font-style: normal;
  line-height: 24px; /* 200% */
}
.account-page .cards .card .mini-card .mini-texts .gr-star {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}
.account-page .cards .card .mini-card .mini-texts .gr-star p {
  color: var(--Text-Body, #808080);
  /* Paragraph/Semibold/Caption - 14px */
  font-family: "Montserrat SemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}
.account-page .cards .card .mini-card .mini-texts .gr-sent {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 8px;
}
.account-page .cards .card .mini-card .mini-texts .gr-sent p {
  color: var(--Text-In-Field, #ccc);
  /* Paragraph/Reguler/Body - 16px */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 168.75% */
}
.account-page .cards .card .mini-card .mini-texts .gr-sent h5 {
  color: var(--Text-Tittle, #1c3554);
  /* Heading/Medium/H5 - 24px */
  font-family: Rubik;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 32px; /* 133.333% */
}
.account-page .cards .card .mini-card:hover {
  box-shadow: 10px 40px 40px rgba(184, 167, 167, 0.5); /* X, Y, radius, va rang */
}
.account-page #backToTopBtn {
  z-index: 100 !important;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3498db;
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
}
.account-page #backToTopBtn:hover {
  opacity: 0.8;
}

@media (max-width: 1350px) {
  .mini-row {
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .mini-row h6 {
    text-align: center;
  }
  .sectionakk1 {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .sectionakk2 {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */